.header{
   display: flex;
   align-items: center;
   background-color: #77d353;
   padding: 10px;
}
.logo{
   width: 100px;
   padding-right: 10px;
}
.corpo{
   padding: 50px 300px;
   text-align: center;
}
.footer{
   background-color:  #eeeded;
   margin-top: 11%;
}
@media(max-width:1400px){
   .corpo{
      padding: 20px 100px;
   }
   .footer{
      margin-top: 67%;
   }
}
@media(max-width:600px){
   .corpo{
      padding: 20px 20px;
   }
   .footer{
      margin-top: 30%;
   }
}