.header{
   display: flex;
   align-items: center;
   background-color: #77d353;
   padding: 10px;

}

.logo{
   width: 100px;
   padding-right: 10px;
}
.formulario{
   padding: 30px 300px;
}
.footer{
   margin-top: 6%;
   background-color: #eeeded;
   margin-bottom: 0px;
   padding-bottom: 0px;
}
@media(max-width:1400px){
   .formulario{
      padding: 30px 100px;
   }
   .footer{
      margin-top: 225px;
   }
}
@media(max-width:600px){
   .formulario{
      padding: 20px 30px;
   }
   .footer{
      margin-top: 30px;
   }
}