.row1{
   height: 10vh;
   background-color: #77d353;
}
.row2{
   justify-content: center;
   align-items: center;
   height: 80vh;
}
.row3{
   height: 10vh;
   background-color: #eeeded;
   align-items: center;
}
.corpo{
   display: flex;
   justify-content: center;
   > form{
      width: 50%;
   }
}
.logo{
   width:90px;
   padding: 5px 5px;
}